<div class="row" style="margin: 20px;">
  <div class="filter-container" style="padding-left: 100px; margin-top: 0px">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Users</h3>
        <button class="btn btn-primary btn-sm add-button" routerLink="/add">
          Add User
        </button>
        <table class="table" style="margin: 0 auto">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">FirstName</th>
              <th scope="col">LastName</th>
              <th scope="col">email</th>
              <th scope="col">address</th>
              <th scope="col">status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let index = index">
              <th scope="row">{{ index }}</th>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.addresse }}</td>
              <td>{{ user.status }}</td>
              <td>
                <button (click)="view(user)" type="button" class="btn btn-primary btn-sm" style="margin-right: 5px;"
                  aria-label="Close">
                  view
                </button>
                <button (click)="delete(user)" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>